html {
	font-family: "Comic Sans Ms", Arial, Serif ;
	font-weight: lighter;
}

header, footer {text-align: center;}
.menu {text-align: left; margin-left: 10px;}
a {font-weight: none; text-decoration: underline;}
a:link {color: Green;}
a:visited {color: Red;}
a:hover {font-weight: bold;}
a:active {text-decoration: none;}
.leftPadding {padding-left: 20px;}

#message {
	color: white;
	text-align: center;
	padding: 10px 20px;
	font-size: large;
	margin-top: -30px;
	margin-left: 200px;
	margin-right: 200px;
	border-style: dotted;

}

#restName {
	font-family: 'Monoton', cursive;
	font-size: xx-large;
}

.foodMenu {
	color: white;	
	background-color: #040000;
	padding-bottom: 5px;
	width: 100%;
	background-image: url('BGlogo.jpeg');
	background-position: 50% 0;
	background-size: cover;
}
caption {
	color: black;	
	background-color: white;
}
.bevMenu {
	color: white;	
	background-color: #FF9999;
	padding-bottom: 5px;
	width: 100%;
	background-image: url('beverages.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: cover;
}
.bevName {text-align: right; width: 50%;}
.bevPrice{text-align: left; padding-left: 20px;}

